mixin imgItem(logs)
    each log in logs
        div
            img(src=`/images/${log.image}`)
        div



doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Monitor
    link(rel='stylesheet' href='/stylesheets/Home.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
body
    nav.nav
        .title Pune
        .location
            li
                a(href='#')
                    | Location
                    img(src='/images/location.png' alt='' height='20px')
                ul
                    li
                        each sitea in logs.allSiteName
                            a(href= `http://127.0.0.1:3000/getSiteData/${sitea.id}`)= `${sitea.siteName}`


        .profile
            li
                a(href='')
                    | Profile
                    img(src='/images/avatar.png' alt='' height='20px')
                ul
                    li
                        a(href='#')
                            img(src='/images/shajjad.jpg' height='50px' alt='')
                        a(href='') Name : Shajjad Shaikh
                        a(href='') Designation : Supervisor
                        a(href='') Shift : 2nd
                        a(href='') Contact : 9987106516
        button.logout  Log Out
    .text1 Images :

    .gallery-container
        .thumbnails
            +imgItem(logs.logs)
        .scrollbar
            .thumb
        .slides
            +imgItem(logs.logs)

    div
        a(href='http://127.0.0.1:3000/getSiteData/637a6ee66537525724282796')
            button.refresh
                | Refresh
                i.fa.fa-refresh.fa-spin(style='font-size:20px')
    .text2 Data :
    #table
        table#datatable
            -let count = 1;
            tra
                th Sr no.
                each log in logs.allparameters

                    th= `${log}`

            each log in logs.logs
                tr
                -const arr = logs.allparameters;
                    td= `${count}`
                    each arrelement in arr
                        td= `${log.parameters[arrelement]}`
                    -count++


    footer
        #about.footertext About
        .footertext Contact : +91 9987106516
        .footertext Email : shajjadhussain.shaikh20@vit.edu
        .cc &copy; All rights reserverd to Monitoring server
        .socialmedia
            a.fa.fa-facebook(href='#')
            a.fa.fa-twitter(href='#')
            a.fa.fa-google(href='#')
            a.fa.fa-linkedin(href='#')
            a.fa.fa-youtube(href='#')
    script(src='/javascripts/bundle.js')
